@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
* {
  margin: 0;
  padding: 0;
}

.body {
  background: url(./snakebg.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#scoreBox {
  font-family: 'New Tegomin', serif;
  position: absolute;
  top: 9px;
  right: 200px;
  font-size: 40px;
  font-weight: bold;
}
.board {
  background: linear-gradient(rgb(91, 214, 91), rgb(238, 238, 52));
  width: 90vmin;
  height: 90vh;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.head {
  background: linear-gradient(rgb(231, 67, 67), rgb(208, 255, 0));
  border: 2px solid purple;
  border-radius: 3px;
}

.snake {
  background-color: purple;
  border: 0.25vmin solid white;
  border-radius: 12px;
}
.food {
  background: linear-gradient(rgb(231, 67, 67), rgb(211, 151, 211));
  border: 0.25vmin solid black;
  border-radius: 12px;
}
